/* 
 * Navigation 
 */

.navbar {
    background-color: #242424;
    border-bottom: 1px solid #b9b9b9;
    font-family: 'Lato', sans-serif;
}

.navbar a {
    color: #cccccc !important;
}

.navbar a:hover {
    color: #ffffff !important;
    background-color: #646464 !important;
}

.navbar-header .navbar-brand {
    color: white !important;
    font-size: 1.5em;
}